.textf-blue{

    background-color:blue;
}


.textf-red{

    background-color:red;
}

.textf-green{

    background-color:green;
}

.padding-small{
    padding:1rem;
}

.padding-med{
    padding:3rem;
}
